header {
    background-image: url(./Bingo\ Postcard.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: x-large;
    color: black;
    
}

body {
    background-image: url(./Bingo-night.webp);
    background-size: auto;
    background-position: center;
    font-family: fantasy;
    font-size: x-large;
    text-align: center;

}

li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: fantasy;
    font-size: x-large;
    color: white;
}

div {
    font-family: fantasy;
    font-size: x-large;
    color: black;
}


h2 {
    font-family: fantasy;
    font-size: x-large;
    color: white;
}

p {
    font-family: fantasy;
    font-size: x-large;
    color: white;
}