header {
    background-size: 5%;
    background-position: top center;
    background-repeat: no-repeat;
    height: 90px;
    display: list-item;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    font-size: x-large;
    color: crimson;
    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: red;
}

img.float-left {
    width: 50%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

img.middle-image {
    width: 50%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    display: block;
}

body {
   background-image: url(../css/December\ 2025.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
   
}

li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

div {
    display: block;
    background: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 10px 0;
    transition: all .5s ease;
    text-align: center;
    text-size-adjust:inherit;
}

h2 {
    font-size: 3.0em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: crimson;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #36454F;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p1 {
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p2 {
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p3 {
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p4 {
    border-style: ridge;
    border-width: 5px;
    border-color: white;
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p6 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: navy;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

p7 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-size: x-large;
}

a{
    text-decoration: none;
    color: #36454F;
    transition: all .5s ease;
}

.footer-img {
    width:300px;
    height:auto;
}